<!--
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="aplicarFiltro($event.target.value)" placeholder="Filtro">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

<mat-card *ngFor="let card of obs | async" class="example-card">

  <mat-card-header (click)="redirecionar(card)">
    <mat-card-title>{{card.nome}}</mat-card-title>
  </mat-card-header>
  <mat-card-content (click)="redirecionar(card)">
    <p></p>
    <img mat-card-image [src]="card.picture">
  </mat-card-content>


</mat-card>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<button mat-raised-button color="primary" class="botaoVoltar" [routerLink]="['/home']">Voltar</button>
-->




<div style="margin-top: 15px; margin-left: 15px; margin-right: 15px;">
<mat-form-field class="search-form">
  <input matInput (keyup)="aplicarFiltro($event.target.value)" placeholder="Filtro">
</mat-form-field>

<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let card of obs | async">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%" (click)="redirecionar(card)">{{card.nome}}</span>

    </mat-card-title>
    <img mat-card-image [src]="card.picture" (click)="redirecionar(card)">
  </mat-card>

</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<button mat-raised-button color="primary" class="botaoVoltar" [routerLink]="['/home']">Voltar</button>
</div>
