/*.example-card {
  max-width: 400px;
  cursor: pointer;

}


.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}*/


.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
  cursor: pointer;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}


